.access-check
{
    display: inline-block;
    padding-left: 25px;
}
body
{
    font-family: 'irsans' !important;
    font-size: 13px;
}
.people-content
{
	border:1px solid #eaeaea;
	padding:4px;
	margin-bottom:20px;
	max-height:450px;
	overflow:auto;
}
