.percent80
{
	position:absolute !important;
	width:200px;
	height:20px;
	background:#D0DBF4;
	text-align:center;
}
.percent
{
	background:#76BCE0;
	height:5px;
	position:absolute !important;
	border-radius: 3px;
/*	margin-top:7px;*/
}
.percent80 div
{
/*	position: relative;*/
	z-index:1;
	text-align:center;
}
