.menu
{
    position:fixed;
    width: 100%;
    margin-top: 30px;
    z-index: 5;
}
.menu-content
{
    margin: 0 auto;
    padding:0 auto;
    width:100%;
    height: 30px;
    background-color: #C8CEDD;
}
.menus
{
    display: table;
    margin: 0 auto;
    #margin-right: 200px;
}
.menus .btn
{
    margin: 4px 1px -4px 46px;
    padding:1px 6px;
}
.navbar-wrapper
{
    position:fixed !important;
    top:0px;
    z-index: 5;
    background-color: #1b1b1b;
}
.w100
{
    width:98.5%;
}
.operationshow
{
    background-color: #f7f7f7;
    padding-right:0px;
}
.operationshow:hover
{
    background-color: #eaeaea;
}
.brand1
{
    display: block;
    float: right;
    padding: 5px 20px 0px;
    margin-right: -20px;
    height:25px !important;
    font-size: 18px;
    font-weight: bold;
    color: #CD2122;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    margin-right: 0px;
}
    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 30px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }



    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }

 /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      color: #5a5a5a;
    }
    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 20px;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }


/*-------------*/
.input-insert
{
	height:14px;
	border:1px 0px 0px 0px !important;
	border-style:solid;
	border-color:#FFD700 !important;
	box-shadow: 0px !important;
    font-family: irsans;
}
.input-insert:focus
{
	height:15px !important;
	border-width:1px 1px 2px 1px !important;
	border-style:solid !important;
	border-color:transparent !important;
	border-bottom-color:#FFD700 !important;
	box-shadow: none !important;
}

.input-task
{
	display:none;
	height:12px !important;
	border:1px 0px 0px 0px !important;
	border-style:solid;
	border-color:#FFD700 !important;
	margin-bottom: 2px !important;
	box-shadow: 0px !important;
    font-family: irsans;
    font-size: 10px;
}
.input-task:focus
{
    font-size: 11px;
	border-width:0px 0px 2px 0px !important;
	border-style:solid !important;
	border-color:#FFD700 !important;
	box-shadow: none !important;
}
.plist
{
    margin-top: 0px;
}
.icon-task-remove
{
    position: absolute;
    right: 202px;
	cursor: pointer;
	margin-left: 3px;
	display:none;
	margin-top: 0px;
    font-size: 18px;
}

.icon-group-remove
{
	position: absolute;
    right: 202px;
	cursor: pointer;
	margin-left: 3px;
	display:none;
	margin-top: 0px;
    font-size: 18px;
}
.icofile
{
    transform:rotate(45deg);
}
.prj-name
{
    height:41px;
}
.prj-name div
{
    padding: 15px;
    font-size: 17px;
    font-family: irsans;
    font-weight: bold;
    overflow: hidden;
}
/*
.input-group
{
	display:none;
	height:12px !important;
	border:1px 0px 0px 0px !important;
	border-style:solid;
	border-color:#FFD700 !important;
	box-shadow: 0px !important;
    margin-bottom: 0px !important;
}
.input-group:focus
{
	height:12px !important;
	border-width:0px 0px 2px 0px !important;
	border-style:solid !important;
	border-color:#FFD700 !important;
	box-shadow: none !important;
}*/
