body
{
    font-family: 'irsans' !important;
    font-size: 13px;
}

.people-content
{
	border:1px solid #eaeaea;
	padding:4px;
	margin-bottom:20px;
	max-height:450px;
	overflow:auto;
}
.p-con
{
	max-height:277px !important;
}
.people-row
{
	border-bottom:1px solid #E2DDC4;
	padding-top:5px;
	width: 100%;
  	height: 20px;
}
.people-name
{
	width:50%;
	float: right;
	overflow: hidden;
	white-space: nowrap;
}
.select-access
{
	width: 90px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	height: 21px;
	line-height: 30px;
	display: none;
	font-size: 13px;
	padding: 0px;
	margin: 0px;
	float: left;

}
.remove-user
{
	float:left;
	margin-right:3px;
}
.remove-resource
{
	float:left;
	margin-right:3px;
}
.invite-again-user
{
	float:left;
	margin-left:8px;
}
.insert:hover
{
	font-weight: bolder;
	cursor: pointer;
}
.people-row:hover > .insert
{
	float:left;
	display:inline-block;
}
.invite
{
	porition:relative;
	display:inline-block;
}
.invite-email
{
	float:left;
}
