/*START GANTT HEAD*/
body
{
    font-family: 'irsans' !important;
    font-size: 13px;
}
.menu
{
    position:fixed;
    width: 100%;
    margin-top: 30px;
    z-index: 5;
}
.menu-content
{
    margin: 0 auto;
    padding:0 auto;
    width:100%;
    height: 30px;
    background-color: #C8CEDD;
}
.menus
{
    display: table;
    margin: 0 auto;
    #margin-right: 200px;
}
.menus .btn
{
    margin: 4px 1px -4px 46px;
    padding:1px 6px;
}
/*START TASKS    */
.right-body
{
	position:relative;
	clear:both;
	direction: rtl;
	background:#FDFDFD !important;
	#min-height:475px !important;
	max-height: 500px;
    font-size: 13px;
    padding-top: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}
.tasks
{
    width:15%;
    float:right;
    overflow:hidden;
    border-left:1px solid #fafafa;
    padding-bottom: 2px;
}
.ctask-group
{
	#height:18px;
	line-height:16px;
	#border-top: 1px #EFECEC solid;
	padding-right:1px;
	z-index: 2;
    white-space: nowrap;
}
.icon-group
{
	float: right;
	cursor: pointer;
	margin-left: 3px;
}
.icon-group-remove
{
	position: absolute;
    right: 275px;
	margin-top: 2px;
	cursor: pointer;
	margin-left: 3px;
	display:none;
}
.icon-task-remove
{
	position: absolute;
    right: 275px;
	margin-top: 2px;
	cursor: pointer;
	margin-left: 3px;
	display:none;
}

.groups-task
{
	padding-right:0px;
	z-index: 2;
    white-space: nowrap;
}
.ctask
{
	padding-right:3px;
	height:100%;
}

.right-panel-row
{
  	height: 24px !important;
    line-height:16px;
    background-color:transparent;
    #border-top: 1px #EFECEC solid;
    padding-top: 1px;
    padding-right:3px;
    z-index: 2;
    white-space: nowrap;
    border-bottom: 1px solid #eee;
    line-height: 30px;
}
.task-row
{
	padding-right:13px;
}
.input-task
{
	display:none;
	height:10px !important;
	border:1px 0px 0px 0px !important;
	border-style:solid;
	border-color:#FFD700 !important;
	margin-bottom: 2px !important;
	box-shadow: 0px !important;
	height: 24px !important;
    line-height:16px;
    background-color:transparent;
    #border-top: 1px #EFECEC solid;
    padding-top: 1px;
    padding-right:3px;
    z-index: 2;
    white-space: nowrap;
    border-bottom: 1px solid #eee;
    line-height: 30px;
}
.input-task:focus
{
	border-width:0px 0px 2px 0px !important;
	border-style:solid !important;
	border-color:#FFD700 !important;
	box-shadow: none !important;
}
.input-group
{
	display:none;
	height:12px !important;
	border:1px 0px 0px 0px !important;
	border-style:solid;
	border-color:#FFD700 !important;
	box-shadow: 0px !important;
    margin-bottom: 0px !important;
}
.input-group:focus
{
	height:14px !important;
	border-width:0px 0px 2px 0px !important;
	border-style:solid !important;
	border-color:#FFD700 !important;
	box-shadow: none !important;
}

.set-person
{
	width:46%;
	float:right;
	#border-left:1px solid #fafafa;
}
.date-start
{
	width:12%;
	float:right;
	#border-left:1px solid #fafafa;
}
.date-end
{
	width:12%;
	float:right;
	#border-left:1px solid #fafafa;
}
.date-picker
{
	width:20px;
	float:left;
}
.person-row
{
    text-align:center;
    overflow: hidden;
}
.datee-row
{
	text-align:center;
    overflow: hidden;
}
.dates-row
{
	text-align:center;
    overflow: hidden;
}

.set-percent
{
	width:28px;
	height: auto;
	float: right;
	#border-left: 1px solid #fafafa;
}
.percent-row
{
    padding-right:0px;
    float: right;
    padding-left: 0px;
    width: 28px;
    text-align:center;
}
.percent-row:first-child
{
    border-bottom: 1px solid #999999;
    height:17px;
}
.input-percent
{
	height:10px !important;
	border:1px 0px 0px 0px ;
	border-style:solid;
	border-color:#FFD700 !important;
	box-shadow: none !important;
	width:17px;
	display:none;
}
.input-percent:focus
{
	height:10px !important;
	border-width:0px 0px 2px 0px !important;
	border-style:solid !important;
	border-color:#FFD700 !important;
	box-shadow: none !important;
}
.popover-person
{
/*	width:180px;*/
}
.popover-person > div > input
{
/*	width:130px !important;*/
}
.popover-content
{
	padding: 2px 13px;
}
.date-drag
{
	height:18px;
	line-height:16px;
	#background:#EAEAEA;
	cursor:none;
}
.input-comment
{
    width:229px;
    height:32px !important;
    border:1px 0px 0px 0px !important;
    border-style:solid;
    border-color:#FFD700 !important;
    box-shadow: 0px !important;
}
.files
{
    margin-right: 3px;
    direction: ltr;
    max-height: 60px;
    overflow: auto;
    font-size:11px;
    padding: 5px;
    margin: 4px;
    border: 1px solid #CFC7FF;
    box-shadow: -1px 1px 0px 0px #0088CC;
}
.remove-file
{
    #display:none;
}
.file-link{width:auto;float:right;text-decoration: none !important;margin-left: 2px;padding:2px;}
.comment-row
{
    background-color: #fff;
    border: 1px #4CB2D0  solid;
    padding: 6px;
    margin-top: 5px;
    z-index: 2;
    height: auto;
    width: 100%;
    font-size: 15px;
}
.comment-text
{
    border: 2px solid #CFC7FF;
    padding: 3px;
    text-justify: inter-cluster;
    font-size: 16px;
}
.comment-row .user-name
{
    display: inline-block;
    padding-right: 10px;
}
.comment-row-color
{
    background-color: #E6E6E6;;
}
.popover-ok
{
	height:14px;padding: 1px 2px 5px 2px;float:left;
}
.container-fluid {
   padding: 0px !important;
}
.schedules
{
	position: relative !important;
  	margin: 0px !important;
    direction:rtl;
    display: block;	
    #min-height:550px !important;
    #overflow: hidden !important;
    white-space: nowrap;
    z-index: 1;
    width: 50px !important;
}
.schedule-content
{
	position:absolute;

	min-height:300px !important;

	background-color:#f3f3f3;
	overflow-x: auto;
	overflow-y:auto;
	white-space: nowrap;

	z-index: -1;
}
.drag-resize-cell
{
	display:none;
	position:absolute;
	height:475px;
	width:100px;
	background:rgba(200,200,222,0.5);
}
.schedule-cell
{
	width:21px;
	min-height:20px;
	height:590px !important;
	background-color:#FFFFFF;
	border-radius:2px;
	border-left: 1px #eaeaea solid;
	float: right !important;
	display: inline;
	margin-bottom:10px;
	text-align:center;
}
.schedule-cell-hours
{
	width:1px !important;
	#background:#FBCB09;
	float:left;

}
.schedule-rows
{
	position:absolute;
	#height:100%;
	background-color:transparent;
	overflow:hidden;
	z-index: 200;
}
.schedule-row
{

	width:50px !important;
	height:18px;
	background-color:transparent;
	#border-top: 1px #EFECEC solid;
	padding-top: 1px;
	z-index: 201;
	line-height:16px;
}
.operations
{
	/*width: 7%;*/
	float: right;
	overflow: hidden;
	border-left: 1px solid #fafafa;
	padding-bottom: 2px;
	text-align: center;
}
.ico
{
	height:18px;
	cursor: pointer;
}
.task-persons
{
	display:inline-block;
}
.right-tool
{
	padding-top:1px;
}
.left-tool
{
	width:auto;
}
.right-tool>img
{



}
.resize-drag
{
	width:50px;
	margin-top: 3px;
	position:absolute !important;
	background: #C8CEDD;
	border-radius: 3px;
	height:15px;
}
.resize-drag.mile
{
    height:100%;
    position:absolute !important;
    background: rgb(232, 102, 102);
    #border-radius: 3px;
    height:15px;


}
.resize-drag:hover
{
	cursor: pointer;
}
.resize-drag-group
{
	height:100%;
	position:absolute !important;
	background: #C8CEDD;
	border-radius: 0px;
	height:7px;
}
.dragg-group-arrow
{
    position:relative;
    height:10px;
    width:0px;
    top:-1px;
    z-index:-1;
}
.dragg-group-left
{
    float:right;
    left:1px;
    border-top: 0px solid transparent;
    border-bottom: 5px solid transparent;
    border-right:7px solid #ff0000;
}
.dragg-group-right
{
    float:left;
    right:1px;
    border-top: 0px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid #ff0000;
}
.resize-drag-group:hover
{
	cursor: pointer;
}
.percent
{
	background: #76BCE0;
  height: 100%;
  position: absolute !important;
}
.percent80
{
	position:absolute !important;
	width:100%;
	height:100%;
	background:#D0DBF4;
}
.span3
{
	height:auto;
	background-color: transparent;

}

/*///////////*/


.row-hover
{
	background-color:rgba(157, 237, 255, 0.8);
	border-bottom: 1px solid #eee;
	#padding: 0px 0px 0px 0px;
}
.ui-state-highlight
{
	background:transparent;
}
/*
.gantt-schedule-row > div
{
	 background: transparent;
	 height:100%;
	 width:100%;
	 z-index: 300;

}*/
.body-from-top
{
    margin-top:120px;
}
.from-top
{
    margin-top: 60px;
}
.navbar-wrapper
{
    position:fixed !important;
    top:0px;
    z-index: 5;
    background-color: #1b1b1b;
}
.check-row
{
    margin-bottom: 0px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}
.access-check
{
    display:inline-block;
}
.check-row:hover
{
    margin-bottom: 0px;
    border-bottom: 1px solid #c8c8c8;
    border-top: 1px solid #c8c8c8;
}
.liico
{
	display: block;
	width:17px;
	height:18px;
	list-style:none;
	opacity:.5;
	float: right;
    font-size:19px;
}
.oprs
{
	float:right;
	/*margin-right: 8px;*/
	margin-top: 3px;
	cursor: pointer;
}
.liico:hover
{
	opacity: 1;
}.oprs:hover > .liico
{
	opacity: 1;
}
.new-number
{
	position: relative;
	cursor: pointer;
	top: -6px;
	right: 17px;
	opacity: 1;
	float: right;
	font-family: serif;
	font-weight: bold;
	height:20px;
	  font-size: 10px;
}
.check-row label
{
    margin-top: 2px;
}
.popover-content
{
    padding: 2px 1px;
}
.popover-operation .check-row
{
	cursor: pointer;
}
@media only screen and (min-width:1200px)
{
    .schedules
    {
        width:300px !importamt;
    }
}

@media only screen and (max-width:768px)
{
    .schedules
    {
        width:300px !importamt;
    }
}
