/*START GANTT HEAD*/

body
{
    font-family: 'irsans' !important;
/*    overflow-Y: hidden;*/
    font-size: 13px;
}
.menu
{
    position:fixed;
    width: 100%;
    margin-top: 30px;
    z-index: 5;
}
.menu-content
{
    margin: 0 auto;
    padding:0 auto;
    width:100%;
    height: 30px;
    background-color: #C8CEDD;
}
.menus
{
    display: table;
    margin: 0 auto;
    #margin-right: 200px;
}
.menus .btn
{
    margin: 4px 1px -4px 46px;
    padding:1px 6px;
}
.head
{
    position: fixed;
    width:100%;
    z-index: 2;
}
.gantt-head
{
    //position: fixed;
    margin:0 auto;
    overflow-x: hidden;
    overflow-y: auto;
    height:63px;
    direction: ltr;
    margin-right: 0px;
	margin-left: 0px;

}
.left-head
{
	direction:rtl;
	background-color:#f3f3f3;
	min-width:590px;
	overflow-y: hidden;
	overflow-x:hidden;
	white-space: nowrap;
        width: 68.7%;
        right: 355px;
        margin-right: 0px !important;
}
.schedule-date
{
	width:21px;
	#margin-top: 24px;
	min-height:16px;
	height:16px !important;
	background-color:#FFFFFF;
	border-radius:0px;
	border-left: 1px #eaeaea solid;
	float: right !important;
	display: inline;
	margin-bottom:0px;
	text-align:center;
	font-size: 13px;
	line-height:11px;
    padding-top: 3px;
}
.head-mounts
{
    position: relative;
    width: 100%;
    clear: both;
    height: 20px;
}
.head-days
{
    position: relative;
    width: 100%;
    height: 20px;
}
.head-years
{
    position: relative;
    width: 100%;
    height: 20px;
}
.schedule-mount
{
    width:21px;
	#margin-top: 24px;
	min-height:16px;
	height:16px !important;
	background-color:#FFFFFF;
	border-radius:0px;
    border-left-width: 30px;
    border-left-style: solid;
    border-left-color: #D0DBF4;
	display: inline-block;
	margin-bottom:0px;
	text-align:center;
	font-size: 13px;
	line-height:11px;
    padding-top: 3px;
}

.schedule-year
{
    width:21px;
	#margin-top: 24px;
	min-height:16px;
	height:16px !important;
	background-color:#FFFFFF;
	border-radius:0px;
    border-left-width: 60px;
    border-left-style: solid;
    border-left-color: #76BCE0;
	display: inline-block;
	margin-bottom:0px;
	text-align:center;
	font-size: 13px;
	line-height:11px;
    padding-top: 3px;
}
.year-show
{
    position: relative;
    float:right;
}
.mount-show
{
    position: relative;
    width:49%;
    float:right;
}
.year-show
{
    position: relative;
    float:right;
}
.date-content
{
	#min-height:39px !important;
	background-color:#f3f3f3;
	overflow-x: hidden;
	overflow-y:hidden;
	z-index: 2;
/*    margin-top: 41px;*/
    height: 61px;
    #margin-right: 0px;
    border-bottom: 1px solid #fafafa;
}
.right-head
{
	height:100% !important;
	direction:rtl;
	width: 366px !important;
	background-color:#f0f0f0;
	overflow-y: hidden;
	overflow-x:hidden;
}
.my-brand
{
    position: fixed;
    height:60px !important;
    width: 370px;
    background:#f0f0f0;
}
.heads-name
{
    float:right;
    text-align: center !important;
    border-left: 1px solid #fafafa;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid #FAFAFA;
}
.task-head
{
    width:216px;
    margin-right: 18px;
}
.person-head
{
    width:85px;
}
.percent-head
{
    #padding-right: 3px;
    width:34px;
}
/*START  HEAD SCROLLBAR/*/
#scrollbar-schedule
{
    position: absolute;
    margin-top: 120px;
    min-width: 590px;
    width: inherit;
    overflow-x: scroll;
    overflow-y: hidden;
    direction: rtl;
    z-index: 0;
    top: 70%;
/*    margin-left: 3px;*/
    left: 0px;
}

#innerScrollbar-schedule
{
	height: 0.1px;
	line-height: 0.1px;
	font-size: 1px;
    left:0px;
	visibility: hidden;
	background-color: yellow;
}

#scrollbar-task
{
	position: absolute;
    margin-top:120px;
	margin-right: 15px;
/*    top: 540px;*/
  	width: 16.3%;
	overflow-x: scroll;
	overflow-y: hidden;
	direction:rtl;
    top: 70%;
	z-index: 101;
}

#innerScrollbar-task
{
  height: 1px;
  line-height: 1px;
  font-size: 1px;
	width:500px;
  visibility: hidden;
  background-color: yellow;
}
/*END SCROLLS*/
/*END GANT HEAD\\\\\\\\\\\\\\\\\\*/
/*START GANTT BODY*/
.container-fluid
{
    padding: 0px !important;
}
.gantt-body
{
    position: absolute;
	overflow-x: hidden;
	overflow-y: scroll;
	height:70%;
	#margin-top:64px;
	margin-right: 0px;
	margin-left: 0px;
	direction: ltr;
	margin:auto;
}
/*START TASKS    */
.right-body
{
	position:relative;
	clear:both;
	direction: rtl;
	background:#f0f0f0 !important;
	width: 340px !important;
	min-height:475px !important;
    font-size: 12px;
    padding-top: 5px;
}
.tasks
{
    width:219px;
    float:right;
    overflow-x:hidden;
    border-left:1px solid #fafafa;
    padding-bottom: 2px;
}
.ctask-group
{
	#height:18px;
	line-height:16px;
	#border-top: 1px #EFECEC solid;
	padding-right:1px;
	z-index: 2;
    white-space: nowrap;
}
.icon-group
{
	float: right;
	cursor: pointer;
	margin-left: 3px;
    font-size: 16px;
    margin-top: 0px;
}
.groups-task
{
	padding-right:13px;
	z-index: 2;
    white-space: nowrap;
}
.ctask
{
	padding-right:3px;
	height:100%;
}
.right-panel-row
{
    height:18px;
    line-height:16px;
    background-color:transparent;
    #border-top: 1px #EFECEC solid;
    padding-top: 1px;
    padding-right:3px;
    z-index: 2;
    white-space: nowrap;
}
.task-row
{

}
.group-row
{

}
.news
{
	height:18px;
	line-height:16px;
	background-color:transparent;
	#border-top: 1px #EFECEC solid;
	padding-top: 1px;
	padding-right:20px;
	z-index: 2;
    white-space: nowrap;
}
.link-task
{
	font-size:10px;
	font-weight:bolder;
	padding-left:5px;
}
.link-task:first-child
{
	padding-right:-12px;
}
/*
.input-task
{
	display:none;
	height:10px !important;
	border:1px 0px 0px 0px !important;
	border-style:solid;
	border-color:#FFD700 !important;
	margin-bottom: 2px !important;
	box-shadow: 0px !important;
}
.input-task:focus
{
	border-width:0px 0px 2px 0px !important;
	border-style:solid !important;
	border-color:#FFD700 !important;
	box-shadow: none !important;
}
*/
.input-group
{
	display:none;
	height:13px !important;
	border:1px 0px 0px 0px !important;
	border-style:solid;
	border-color:#FFD700 !important;
	margin-bottom: 2px;
	box-shadow: 0px !important;
    font-size: 12px !important;
}
.input-group:focus
{
	height:12px !important;
	border-width:0px 0px 2px 0px !important;
	border-style:solid !important;
	border-color:#FFD700 !important;
	box-shadow: none !important;
}

.set-person
{
	width:25%;
	float:right;
	border-left:1px solid #fafafa;
}
.person-row
{
    text-align:center;
    overflow: hidden;
}

.set-percent
{
	width:34px;
	float:right;
}
.percent-row
{
    padding-right:0px;
    float: right;
    padding-left: 0px;
    width: 100%;
    text-align:center;
}
.percent-row:first-child
{
    border-bottom: 1px solid #999999;
    height:17px;
}
.input-percent
{
	height:10px !important;
	border:1px 0px 0px 0px ;
	border-style:solid;
	border-color:#FFD700 !important;
	box-shadow: none !important;
    width:50%;
    margin-bottom: 0px !important;
    font-size: 10px !important;
}
.input-percent:focus
{
	height:10px !important;
	border-width:0px 0px 2px 0px !important;
	border-style:solid !important;
	border-color:#FFD700 !important;
	box-shadow: none !important;
}
.popover-person
{
	width:180px;
}
.popover-person > div > input
{
	width:130px !important;
}
.popover-content
{
	padding: 2px 13px;
}
.date-drag
{
	height:18px;
	line-height:16px;
	#background:#EAEAEA;
	cursor:none;
    border-radius: 4px; 
/*    display:block !important;*/
    width:150px;
    text-align: center;
    padding-top:5px;
    font-weight: bold;
    direction: rtl;
    background-color: #C8C8C8;
    color: black;
}
.input-comment
{
    width:229px;
    height:32px !important;
    border:1px 0px 0px 0px !important;
    border-style:solid;
    border-color:#FFD700 !important;
    box-shadow: 0px !important;
}
.files
{
    margin-right: 3px;
    direction: ltr;
    max-height: 60px;
    overflow: auto;
    font-size:11px;
    padding: 5px;
    margin: 4px;
    border: 1px solid #CFC7FF;
    box-shadow: -1px 1px 0px 0px #0088CC;
}
.remove-file
{
    #display:none;
}
.file-link{width:auto;float:right;text-decoration: none !important;margin-left: 2px;padding:2px;}
.comment-row
{
    background-color: #fff;
    border: 1px #4CB2D0  solid;
    padding: 6px;
    margin-top: 5px;
    z-index: 2;
    height: auto;
    width: 100%;
    font-size: 15px;
}
.comment-text
{
    border: 2px solid #CFC7FF;
    padding: 3px;
    text-justify: inter-cluster;
    font-size: 16px;
}
.comment-row .user-name
{
    display: inline-block;
    padding-right: 10px;
}
.comment-row-color
{
    background-color: #E6E6E6;;
}
.popover-ok
{
	height:14px;padding: 1px 2px 5px 2px;float:left;
}
/*
.gantt-task-scroll-amod
{

	min-height:475px !important;
	background-color:transparent;
	#overflow-x: hidden;
	#overflow-y:hidden;
	white-space: nowrap;
	width:100%;
	margin-bottom:20px;
}*/

.schedules
{
    direction:rtl;
    min-height:100% !important;
    min-width: 590px;
    overflow: hidden !important;
    white-space: nowrap;
    z-index: 1;
    border-right:3px #DFCCDA solid !important;
    width: 68.7%;
/*    right: 355px;*/
    margin-right: 0px !important;
    padding-top: 5px;
    background-color: #fafaf3;
}
.schedule-content
{
	position:absolute;

	min-height:300px !important;

	background-color:#f3f3f3;
	overflow-x: auto;
	overflow-y:auto;
	white-space: nowrap;

	z-index: -1;
}
.drag-resize-cell
{
	display:none;
	position:absolute;
	height:475px;
	width:100px;
	background:rgba(200,200,222,0.5);
}
.schedule-cell
{
	width:21px;
	min-height:20px;
	height:590px !important;
	background-color:#FFFFFF;
	border-radius:2px;
	border-left: 1px #eaeaea solid;
	float: right !important;
	display: inline;
	margin-bottom:10px;
	text-align:center;
}
.schedule-cell-hours
{
	width:1px !important;
	#background:#FBCB09;
	float:left;

}
.schedule-rows
{
	position:absolute;
	top:5px;
	height:100%;
	background-color:transparent;
	overflow:hidden;
	z-index: 200;
}
.schedule-row
{

	width:100%;
	height:18px;
	background-color:transparent;
	#border-top: 1px #EFECEC solid;
	padding-top: 1px;
	z-index: 201;
	line-height:16px;
}
.schedule-group:last-child
{
    padding-bottom: 7px;
}
.ico
{
	height:18px;
    font-size: 18px;
	cursor: pointer;
}
.task-persons
{
	display:inline-block;
}
.right-tool
{
	padding-top:1px;
}
.left-tool
{
	width:auto;
}
.right-tool>img
{



}
.resize-drag
{
	height:100%;
	position:absolute !important;
	background: #C8CEDD;
	border-radius: 3px;
	height:15px;
}
.resize-drag.mile
{
    height:100%;
    position:absolute !important;
    background: rgb(232, 102, 102);
    #border-radius: 3px;
    height:15px;


}
.resize-drag:hover
{
	cursor: pointer;
}
.resize-drag-group
{
	height:100%;
	position:absolute !important;
	background: #C8CEDD;
	border-radius: 0px;
	height:7px;
}
.dragg-group-arrow
{
    position:relative;
    height:10px;
    width:0px;
    top:-1px;
    z-index:-1;
}
.dragg-group-left
{
    float:right;
    left:1px;
    border-top: 0px solid transparent;
    border-bottom: 5px solid transparent;
    border-right:7px solid #ff0000;
}
.dragg-group-right
{
    float:left;
    right:1px;
    border-top: 0px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid #ff0000;
}
.resize-drag-group:hover
{
	cursor: pointer;
}
.percent
{
	background:#76BCE0;
	height:5px;
	position:absolute !important;
	border-radius: 3px;
	margin-top:5px;
}
.percent80
{

	position:absolute !important;
	width:80%;
	height:100%;
	background:#D0DBF4;
	margin-right: 10%;
}
.span3
{
	height:auto;
	background-color: transparent;

}
.span9
{
	position:absolute;
/*	max-height:590px !important;*/
	border-right:3px #DFCCDA solid !important;
}
/*///////////*/


.row-hover
{
	background-color:rgba(157, 237, 255, 0.8);

	border:0px;
	#border-top:2px;
	border-bottom:0px;
	border-style:solid ;
	border-color:rgba(223,223,223,0.8);
	#padding: 0px 0px 0px 0px;
}
.ui-state-highlight
{
	background:transparent;
}
/*
.gantt-schedule-row > div
{
	 background: transparent;
	 height:100%;
	 width:100%;
	 z-index: 300;

}*/
.body-from-top
{
    margin-top:120px;
}
.from-top
{
    margin-top: 60px;
}
.navbar-wrapper
{
    position:fixed !important;
    top:0px;
    z-index: 5;
    background-color: #1b1b1b;
}
.check-row
{
    margin-bottom: 0px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}
.access-check
{
    display:inline-block;
}
.check-row:hover
{
    margin-bottom: 0px;
    border-bottom: 1px solid #c8c8c8;
    border-top: 1px solid #c8c8c8;
}
.check-row label
{
    margin-top: 2px;
}
.popover-content
{
    padding: 2px 1px;
}

@media only screen and (min-width:1200px)
{
    .schedules
    {
        width:300px !importamt;
    }
}

@media only screen and (max-width:768px)
{
    .schedules
    {
        width:300px !importamt;
    }
}
