/*START GANTT HEAD*/
/*START GANTT HEAD*/
@font-face {
    font-family: irsans;
    src: url(../font/IRAN Sans/IRAN-Sans.ttf);
}
@font-face {
    font-family: irsans;
    font-weight:bold;
    src: url(../font/IRAN Sans Bold/IRAN-Sans-Bold.ttf);
}
@font-face {
    font-family: irsans;
    src: url(../font/irsans.ttf);
}
@font-face {
    font-family: irsans;
    src: url(../font/irsans.ttf);
}
@font-face {
    font-family: droid-naskh;
    src: url(../font/droid-naskh.ttf);
}
@font-face {
    font-family: droid-naskh2;
    src: url(../font/DroidNaskh.woff);
}
body
{
    font-family: 'irsans' !important;
    font-size: 13px;
}
#loading, #logo
{
	position: relative;
	padding-top: 2px;
	z-index: 10000;
	width: 27px;
	height: 22px;
	float: right;
}

.ico
{
	display: none;
	width: 17px;
	height: 18px;
	list-style: none;
	margin-right: 3px;
	opacity: .5;
}
.ico:hover
{
	opacity: 1;
}
.ico-invite
{
	background:  url("../img/ico/invite2.svg") center center no-repeat;
	background-size: cover;
	float: left;
}
.ico-delete
{
	background:  url("../img/ico/delete1.svg") center center no-repeat;
	background-size: cover;
	float:right;
}
/*#logo
{

	position: relative;
	display: inline-block;
	background: rgba(36,27,27,0.9);
	z-index: 10000;
	width: 9px;
	height: 29px;
}*/
/*#loading1
{

	position: relative;
	display: none;
	background: rgba(36,27,27,0.9);
	z-index: 10000;
	width: 9px;
	margin-right: 4px;
}
#logo1
{

	position: relative;
	display: inline-block;
	background: rgba(36,27,27,0.9);
	z-index: 10000;
	width: 9px;
}*/
.pricing-title-header
{
    height: 250px;
    background: #1C1E29; 
}
.pricing-title
{
    position: relative;
    top:0px;
    left:0px;
    margin: 0 auto;
    width: 500px;
    text-align: center;
    color:#FFF;
    padding:50px;
    font-size: 22px;
    font-weight: bold;
}
.pricing
{
    position: relative;
    top:-100px;
}
.plans
{
    border-radius: 5px;
    background: #FFF;
}
.plan1
{
    margin-right:40px;
}
.plan2
{
    position: relative;
    margin-right: 0px; 
    top:-15px;
    height:450px;
}
.plan3
{
    position: relative;
    margin-right: 0px; 
    top:-30px;
    height:450px;
}
.plan3
{
    height:400px;
    margin-right:0px;
}
.plan4
{
    height:400px;
    margin-right:0px;
}
.title-futhers.plan-title
{
    padding: 20px;
    text-align: center;
    font-size: 26px;
    margin:0px;
}
.title-futhers .price
{
    position: relative;
    clear: both;
    line-height: 18px;
    font-size: 14px;
}
.plan1-title
{
    border-top-right-radius: 5px;
    background: #FF5859;
    color: #FFF;
}
.plan2-title
{
    border-top-right-radius: 5px;
    background: #00A0DF;
    color: #FFF;
}
.plan3-title
{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #00BC6F;
    color: #FFF;
}
.plan4-title
{
    border-top-left-radius: 5px;
    background: #f0BCff;
    color: #FFF;
}
.pricing .text-futhers
{
    position: relative;
    padding:30px 10px;
    text-align: center;
    border: 1px solid #f3f3f3;
    margin:0px !important;
    height: 250px;
}
.pricing .plan2 .text-futhers
{
    height: 265px;
    padding-top: 45px;
}
.pricing .plan3 .text-futhers
{
    padding-top: 60px;
    height: 285px;
}
.btn-plans
{
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 30px;
    padding: 11px 12px;
    width: 100px;
    margin: 0 auto;
    color: #FFF;
    border-radius: 8px;
    border-bottom: 3px solid #6C3B71;
}
.btn-plans:hover, .btn-plans:focus {
    color: #333333;
    text-decoration: none;
}
.btp1
{
    background: #FF5859; 
}.btp2
{
    background: #00A0DF; 
}.btp3
{
    background: #00BC6F; 
}.btp4
{
    background: #F0BCFF; 
}
.futhers
{
    line-height: 40px;
    font-size: 15px;
}
.text-futhers
{
    font-size: 15px;
    font-family: irsans;
    line-height: 24px;
}
h2.title-futhers
{
    margin: 20px;
    font-size: 17px;
    font-weight: bold !important;
}
.video-slider
{
    height:100vh;    position: absolute;
    left: 0;
    min-width: 100%;
/*    opacity: 0.5;*/
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );

    filter:blur(2px);
  -webkit-filter:blur(2px);
  -o-filter:blur(30px);
  -ms-filter:blur(30px);
  -moz-filter:blur(30px);
}
.darken
{
    position: absolute;
    width:100%;
    height:100%;
    opacity: 0.7;
    background-color: black;
    z-index: 1;
}
.slider-cap
{
        max-width: 100%;
    color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 119px;
}
.slider-h1
{
    margin-bottom: 0px;
    font-size: 40px;
}
.slider-btn
{
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    transition: all .25s;                                                             
}
.slider-btn:hover
{
    background-color: #FFF;
    color:#000;
    border: 2px solid #FFFFFF;
}
.why
{
/*    background: #C8c8c8;*/
    padding: 80px 0px;
    text-align: center;
    margin: 0;
    margin-bottom: 25px;
}
.why-text
{
    color:#aaa;
    font-size: 31px;
    font-weight: bold;
}
.why-mini-text
{
    color:#828282;
    font-size: 12px;
    line-height: 32px;
    margin-top:10px;
/*    font-weight: bold;*/
}

.magic
{
    position: relative;
    height: 170px;
    margin: -60px auto 50px auto;
    background-color: #CD2122;
    border-radius: 6px;
    z-index: 2;
}
.magic:before
{
    position: absolute;
    content: '';
    background-color: aqua;
    background-color: #CD2122;
    top: -6px;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transform: skewY(1.5deg);
    -ms-transform: skewY(1.5deg);
    transform: skewY(1.5deg);
    border-radius: 0px;
    border-radius: 6px;
    transform-origin: right top;
    z-index: -1;
}
.magic-text
{
    padding:50px;
    text-align: center;
    font-size:18px;
    color:#F5D0D1;
    width:50%;
    float:right;
}
.magic1
{
    padding: 40px;
    /* position: relative; */
    /* height: 170px; */
    /* margin: 60px auto 50px auto; */
    margin: 0;
    background-color: #CD2122;
    border-radius: 0px;
    z-index: 2;
    
}
.magic-text1
{    
    text-align: center;
    font-size: 30px;
    color: #F5D0D1;
    font-weight: bold;
}
.mt1
{
     padding: 40px; 
}
.magic-text1 .btn
{
    margin-top: 45px;
}
.signup1
{
    color:#FFF;
    transition: all .25s;
}
.signup1:hover
{
    color:#F3f3f3;
    text-decoration: none;
    font-weight: bold;
}
.well
{
    background-color: rgb(245, 244, 244);
    border: none;
/*
    border-top: 4px solid rgb(181, 176, 176); 
    border-bottom: 4px solid rgb(181, 176, 176); 
*/
    width: 97.475517vw;
    position: absolute;
    right: 0px;
    clear: both;
    padding: 34px 0px;
/*    margin-right: 0px;*/
    width: 100%;
    border-radius: 0px;
}
.f1
{
    background-color: aqua;
}
.profile-pic
{
    max-height: 36px;
    margin: 5px;
    border: 2px groove red;
}
.navbar-wrapper {
          position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: 0px;
    /* margin-bottom: -90px; */
    clear: both;
    position: relative;
    float: none;
    height: 48px;
    }
    .navbar-wrapper .navbar {
        background-color: #000000;
    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
        background-image: none;
        background-color: transparent !important;
        box-shadow: none;
    }
    .navbar-inverse .nav > li > a {
        color: #FFF;
        font-size:13px;
    }
    .navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus 
    {
           box-shadow: none;
            background-color: #292929 !important;
            color: #FFF;
    }
    
    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 24px;
      font-weight: bold;
      color:#CD2122;;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }


.featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
/*      padding-top: 120px;  Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    padding: 50px 45px;
        position: relative;
    }
.feature-title
{
    font-size: 20px;
    font-weight: bold;
    color: #922F2F;
}
.feature-text
{
    height: 265px;
    position: absolute;
    width: 36%;
    margin: auto;
    padding: 0px;
    top: 0;
    bottom: 0;
}
    .featurette-image {
      margin-top: 50px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
        width: 500px;   
        height: 400px;
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }
.img-caption
{
    font-size: 13px;
    margin:auto;
    text-align:center;
}
/*
div.well::after
{
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/signupback8.jpg);
        background-size: cover;
    content: "";
    z-index: 0;  
    display: block;
}
*/
input[type=text].email-signup
{
    margin: auto;
    padding: 12px 12px 12px 4px;
    font-size: 18px;
    text-align: center;
}
button[type=submit].home-signup
{
    margin: 8px;
    background-color: #67C567;
    border: none;
}
.featurette-heading {
    line-height: 1;
    letter-spacing: -1px;
    margin-bottom:10px;
    margin-top:50px;
    font-size: 17px;
    font-weight: bold !important;
}
.carousel .lead
{
/*    font-size: 16px;*/
    font-size: 17px;
    font-weight: bold;
    margin:25px;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

    /* Carousel base class */
.carousel-caption h1,
    .carousel-caption .lead {
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel {
      margin-bottom: 60px;
    }
.featurette .lead
{
    font-size: 15px;
    font-family: iran-sans;
    line-height: 26px;
}
    .carousel .container {
      position: relative;
      z-index: 9;
      height: 100vh;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 800px;
      padding: 0 20px;
      margin-top: 30%;
    }
    .carousel-caption .btn {
        margin-top: 22px;
        font-size: 18px;
        padding: 12px 28px;
    }

h1
{
    font-size: 22px;
    background-color: none;
    margin-bottom: 18px;
}
.w100
{
    width:100%;
}
#loading p
{
	position: absolute;
	/*opacity: 0.4;*/
}
label
{
/*    font-size: 15px;*/
    padding: 4px 4px 0px 2px;
}
button[type=submit]
{
    clear: both;
    margin:  10px 10px 10px 10px;
    margin:0 auto;
    color: #0044CC;
    font-size: 15px;
    font-family:irsans;
    padding: 12px 25px 12px 25px;    right: 50%;
    color: white;
    border-radius: 3px;
}
.remember
{
    padding: 0px 20px ;
}
.footer-signin
{
    margin-top: 16px;
    padding: 20px 10px 20px 10px;
    border-top: 1px solid #f3f3f3;
}
.forget-pass
{
    float: left;
}

.signup-lnk
{
    float: right;
}
.form-head
{
    background-color: #fff;
    margin: 1px;
    padding: 1px 2px 30px;
}
.input-captcha
{
    position: relative;
    float: left;
    width:50%;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

div.browse-wrap {
    cursor:pointer;
    overflow:hidden;
    padding:5px 5px;
    text-align:center;
    background-color:#f6f7f8;
    height: 23px;
    border:solid 1px #d2d2d7;
}
div.title {
    color:#3b5998;
    font-size:14px;
    font-weight:bold;
    font-family:tahoma, arial, sans-serif;}
input.upload {
    top:-25px;
    opacity:0;
    cursor:inherit;
    position:relative;
}
span.upload-path {
    text-align: center;
    margin:20px;
    display:block;
    font-size: 80%;
    color:#3b5998;
    font-weight:bold;
    font-family:tahoma, arial, sans-serif;
}
.notifs
{
    position:fixed;
    
    clear: both;
    left:0px;
    top:0px;
    font-family: droin-naskh2;
    min-height: 1px;
    height: 100%;
    max-height: 200px;
    overflow: hidden;
    z-index: 1041;
    transition: all .4s;
}
.notif
{
    position:relative;
    clear: both;
/*
    left:0px;
    bottom:0px;
*/
    width:180px;
    margin:5px;
    text-align: center;
    padding:10px 5px 10px 5px;
/*    border: 1px solid #f3f3f3;*/
    background-color: coral;
    color: white;
    font-family: irsans;
    border-radius: 3px;
    z-index: 10;
    transform: translate3d(0,-120%,0);
    transition: all .4s;
    font-size: 11px;
    font-weight: bold;
    color: #f3f3f3;
}
.notif-error
{
/*    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);*/
    background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4);
    background-color: orangered;
}
.notif-success
{
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-color: orangered;
    color: black;
}
.notif-show
{
/*    display: block;*/
    transform: translate3d(0,0,0);
}
.notif-hide
{
    transform: translate3d(-120%,0,0);
}